pages/roms/gt2/gt2.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
pages/games/duck-life-adv/Build/WebGL[[:space:]]Build.data.unityweb filter=lfs diff=lfs merge=lfs -text
# this was so hard man
pages/games/duck-like-adv/Build/WebGL[[:space:]]Build.data.unityweb filter=lfs diff=lfs merge=lfs -text
